<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ua.edu.tntu"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/app_logo"
        android:label="@string/app_name"
        android:logo="@drawable/logo"
        android:theme="@style/AppTheme">
        <activity android:name="ua.edu.tntu.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="ua.edu.tntu.schedule.ScheduleTableActivity" />
        <activity
            android:name="ua.edu.tntu.NewsPageActivity"
            android:label="@string/title_activity_news_page"></activity>
    </application>

</manifest>
